*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(135, 145, 141);
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),rgba(0,0,0,0.5),url(../b.jp);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;

    
}
ul{
    float: right;
    list-style: none;
    margin-top: 30px;
    max-height: 400px;
    margin-right: 40px;
    font-size: 16px;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;

}
ul li a:hover{
    background-color: #9c5353;
    color: #000;
    
}
ul li.active a{
    background-color: #9c5353;
    color: #000;
}
.logo{
    float: left;
    margin-top: 30px;
    padding-left: 10px;
    font-weight: bold;
    font-size: larger;

}
.logo a{
    color: #ffff;
    text-decoration: none;
}
.logo a:hover{
    background-color: rgb(177, 177, 139);
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top:50%;
    left: 50%;
}
.title h1{
    color: rgb(167, 7, 7);
    font-size: 70px;

}
.bottom{
    position: absolute;
    top: 65%;
    left: 50%;
    font-weight: bold;
}
.btn{
    border: 1px;
    padding: 5px 20px;
    color: aqua;
    transition: 0.s ease;
    font-size: medium;
    text-decoration: none;
}
.btn:hover{
    background-color: #9c5353;
    color: antiquewhite;
}
.sub menu a{
    color: aliceblue;
    text-decoration: none;
    
    
}